li {
  /*display:inline-block;*/
  /*float: left;*/
  /*text-align: right;*/
  background-color: blue;
  height: 30px;
  list-style: none;
  margin: auto;
  margin-bottom: 10px;
  width: 30px;
}

ul {
  padding: 0;
}

ul.pile {
  border-bottom: 2px solid black;
  height: 127px;
  float: left;
  margin: 20px;
  width: 120px;
}

li[width="2"] {
  background-color: red;
  width: 60px;
}

li[width="3"] {
  background-color: orange;
  width: 90px;
}
